.Navigation {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  .NavLink {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
    &:hover,
    &:focus {
      color: #3ec58e;
    }
  }
}
